.navbar {
  background: linear-gradient(
    90deg,
    var(--blue-primary),
    var(--teal-primary)
  );
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  color: var(--white);
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-links li a {
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background-color: var(--accent-yellow);
  color: var(--text-dark);
}

.nav-links li.active a {
  background-color: var(--accent-purple);
}

.App {
  text-align: center;
  background-color: #f4f4f4;
  min-height: 100vh;
  padding: 50px;
}

h1 {
  color: #2b6cb0;
}

p {
  font-size: 18px;
}
form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #2b6cb0;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1e4a8b;
}

label {
  font-weight: bold;
}
main {
  padding-top: 70px; /* desktop */
}

@media (max-width: 768px) {
  main {
    padding-top: 90px; /* taller mobile navbar */
}
}